*{
    font-family: "Lucida Grande", "Lucida Sans Unicode", Tahoma, sans-serif;
    padding: 0;
    margin: 0;
}
.font{
    font-family: "Lucida Grande", "Lucida Sans Unicode", Tahoma, sans-serif;
}
.title-box{
    margin-top: 24px;
    padding-left: 8px;
}
.title{
    color: black;
    font-weight: normal;
    font-size: 131%;
    margin: 0 0 7px 0;
    clear: left;
}
.title-bottom{
    margin-bottom: 13px;
    font-size: 78% !important;
    font-family: inherit;
    font-style: normal;
    font-weight: normal;
    color: #444444 !important;
}
body{
    background-color: #669900;
    padding-top: 17px;
}
.navigate{
    width: 640px;
}
.nav{
    background-color: #99cc00;
}
.logo{
    height: 80px;
    display: block;
    background: url(https://static.wufoo.com/images/wflogo-padding.png) no-repeat left top;
    overflow: hidden;
}
.items{
    background-color: white;
}
input , select{
    font-size: 12px;;
}
.salaryCent{
    width: 30px;
}
label{
    margin-top: 3px;
    font-size: 79% ;
    font-family: inherit;
    font-style: normal;
    font-weight: bold;
    color: #444444;
    margin-bottom: 2px;
}
.powered{
    font-size: 10px;
    color: #606060 !important;
    text-decoration: none;
}
.powered2{
    font-size: 12px;
    color: #606060 !important;
    text-decoration: none;
}
.fs{
    font-size: 12px;
}
.date-input {
    display: inline-flex;
    align-items: center;
}

.date-input input {
    width: 2em;
    padding: 5px;
    margin: 2px;
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1em;
}

.date-input input#year {
    width: 3em;
}

.date-input span {
    margin: 0 5px;
}

.calendar{
    cursor: pointer;
    
}
.Fiel{
    margin-bottom: 0 !important;
}
.form-input-box{
    height: 24px;
}
.form-input-box-small{
    height: 21px;
    width: 195.83;
}
.form-check p{
    font-size: 13px;
    margin-top: 2px;
}
.req{
    color: red;
}
.label-month{
    margin-bottom: 0px;
    margin-left: 2px;
    font-size: 66% !important;
    color: #000 !important;
    margin-top: 5px;
    width: 118px;
    font-weight: normal !important;
}
.label-salary{
    margin-bottom: 0px;
    font-size: 66% !important;
    color: #000 !important;
    margin-top: 5px;
    width: 140px;
    font-weight: normal !important;
    margin-left: 20px;
}
.radio{
    display: block;
    margin: 4px 0 0 0;
    padding: 0;
    width: 13px;
    height: 13px;
}



.relocate ,.position, .date ,.site , .salary , .name  ,.phone ,.resume, .email{
    width: 450px;
}
.site{
    padding:5px 0px 10px 0px;
}
.errorhead{
    font-weight: 700;
    margin: 0 0 5px 0;
    padding: 0;
    font-size: 16px;
    color: #DF0000 !important;
}
.errorwelc{
    font-size: 13px;
}
.error_box{
    padding:12px;
    border-radius: 25px;
    border: 1px solid #DF0000;
}
#errorp , #errorp2 , #errorp3 , #errorp4, #errorp5, #errorp6, #errorp10{
    margin: 0 !important;
    padding: 7px 0 0 0 !important;
    line-height: 10px !important;
    font-weight: bold;
    font-size: 11px;
    color: #DF0000 !important;
    clear: both;
}
.butn{
    width:100px;
    margin-top:5px;
}
#datepicker{
    background-image :url("https://static.wufoo.com/images/icons/calendar.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 16.5px;
    border: 0px;
}
input[type="date"]::-webkit-calendar-picker-indicator {
    filter: opacity(0);
}
